.container {
    display: flex;
    flex-direction: row;
}

.left-side {
    flex-basis: 50%;
   
}
.right-side {
    flex-basis: 50%;
    
}

.heading {
    display: flex;
    justify-content: space-between;
}

.thumbnail {
    display: flex;
    flex-direction: row;
}