.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  
}
.left-signin {
    flex-basis: 55%;  
    background-image: url("https://hdqwalls.com/wallpapers/darth-maul-star-wars-fanart-8a.jpg");  
   padding-left: 30px;
    object-fit: contain;
}

.right-signin {
    flex-basis: 45%;
padding-top: 15px;
color: #FFFFFF;
background-color: #0F121FF5;
}

::placeholder {
    color: #D0DBE5;
}