
.container {
   
   background-color: black;
    position: relative;
}
.content {
    position: absolute;
    bottom: 120px;
    left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    text-align: left;
}

.profile > span {
padding: 10px;
}